<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Algorithm Storage - it's on you!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Your algorithm storage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                References
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="https://onlinejudge.org/">UVa Online Judge</a></li>
                <li><a class="dropdown-item" href="https://www.spoj.com/">SPOJ</a></li>
                <li><a class="dropdown-item" href="https://www.aceptaelreto.com/">Acepta el reto</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px"> <li class="nav-item"> Welcome back {{ user }}!</li> </ul>
        </div>
      </div>
    </nav>
    <hr>
    <div class = "container-fluid" style="float: left; width: 40%">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Maths</div>
                    <div class="ms-2 me-auto">
                        <ol><a href="/math/Cribe">Eratostenes' cribe</a></ol>
                        <ol><a href="/math/GDC">Greatest Common Divisor</a></ol>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Sorting</div>
                    <div class="ms-2 me-auto">
                        <ol><a href="/sorting/Mergesort">Mergesort</a></ol>
                        <ol><a href="/sorting/Quicksort">Quicksort</a></ol>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Graphs</div>
                    <div class="ms-2 me-auto">
                        <ol><a href="/graph/Dijkstra">Dijkstra</a> </ol>
                        <ol><a href="/graph/BFS">BFS</a> </ol>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Dynammic Programming</div>
                    <div class="ms-2 me-auto">
                        <ol><a href="/dp/Knapsack">Knapsack</a></ol>
                    </div>
                </div>
            </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Community</div>
                    <div class="ms-2 me-auto">
                        {% for i in Community %}
                        <ol><a href = "/community/{{ i }}"> {{ i }} </a></ol>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class = "container-fluid" style="float: right; width: 50%; background-color: #eee;  border: 1px solid #999; display: block; padding: 2%">
        <code> {% block code %}
                {% endblock %}
        </code>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>